@model QueuingApp.Models.Applicants

@{
    ViewData["Title"] = "Applicant Details";
}

<h1>Applicant Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Socialsecuritynumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Socialsecuritynumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EMail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Smoke)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Smoke)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Introduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Introduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainEmployment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainEmployment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainIncome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MainIncome) SEK/month
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainEmployer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainEmployer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployerPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployerPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkMunicipality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkMunicipality)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { Id = Model.objectId }) |
    <a asp-action="Index">Back to List</a>
</div>
